<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>HTMX & Go - Demo</title>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <link href="https://unpkg.com/tailwindcss@^3.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body>
<main id="main">
    {{ if .IsAuthenticated }}
    {{ template "main.html" . }}
    {{ else }}
    <div hx-trigger="load" hx-get="/login/"></div>
    {{ end }}
</main>
</body>
</html>