<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Marketplace HTMX & Go - Demo</title>
    <script src="https://unpkg.com/htmx.org@1.9.4"></script>
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
</head>
<body class="bg-gray-100">
<!-- Navbar -->
<nav class="bg-blue-500 py-4">
    <div class="max-w-5xl mx-auto px-4 sm:px-6 lg:px-8">
        <ul class="flex space-x-4">
            {{ range .Links }} {{ block "navbar-link" .}}
            <li>
                <a href="{{ .URL }}" class="text-white hover:text-gray-200">{{ .Name }}</a>
            </li>
            {{ end }} {{ end }}
        </ul>
    </div>    
</nav>

<!-- Marketplace Content -->
<div class="max-w-5xl mx-auto py-6 px-4 sm:px-6 lg:px-8 flex space-x-6">
HI HOME PAGE
</div>
</body>
</html>
